- var basePath   = "../../"
- var publicPath = basePath+"public/"
- var appPath    = basePath+"src/"

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Chat
        link(rel="stylesheet", href=publicPath+"css/global.css")
        link(rel="stylesheet", href=publicPath+"css/iconfont.css")
        link(rel="stylesheet", href=publicPath+"plugins/layui/css/layui.css")
        block css
    body
        .layui-fluid.kl-kelvin
            .layui-row.kl-header
                block header
            .layui-row.kl-body
                block body
            .layui-row.kl-footer
                block footer

        script window.$ = window.jQuery = require("jquery");
        script(src=publicPath+"plugins/layui/layui.js")
        script(src=appPath+"controllers/base.js")
        block script
